.team-card {
  width: 50%;
  margin: 12px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 12px 16px;
  background-color: #171033;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  border: none;
}

.team-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4);
}

.team-card .star {
  font-size: 40px;
  color: gold;
  cursor: pointer;
  margin-right: 10px;
  user-select: none;
  transition: transform 0.2s ease;
}

.team-card .star:hover {
  transform: scale(1.45);
}

.team-card .star.inactive {
  color: #888;
}

.logo-name-container {
  display: flex;
  align-items: center;
  border-radius: 12px;
  padding: 8px 12px;
  margin-right: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ffffff 70%,
    #171033 100%
  );
}

.logo-name-container .logo {
  height: 43px;
  width: 43px;
  object-fit: contain;
  background-color: white;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
  color:black;
}

.logo-name-container .team-name {
  font-size: 16px;
  font-weight: 600;
  color:#171033;
}

.team-card .info {
  flex: 1;
  font-size: 16px;
  color: white;
}