.custom-player-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 4rem;
}

.custom-player-card {
  background-color: #171033;
  color: white;
  padding: 2rem;
  border-radius: 30px;
  width: 100%;
  max-width: 350px;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.custom-player-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-left: -40px;
}

.custom-player-fav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-right: 25px;
}

.custom-player-fav-btn {
  font-size: 55px;
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  user-select: none;
  transition: transform 0.2s ease, color 0.3s ease;
}

.custom-player-fav-btn:hover {
  transform: scale(1.45);
}

.custom-player-fav-btn.fav {
  color: gold;
}

.custom-player-card img {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.custom-player-flag {
  margin-left: 3px !important;
  vertical-align: middle;
  width: 28px !important;
  height: 20px !important;
  object-fit: cover;
  border-radius: 0 !important;
  border: 2px solid #454583;
}

.custom-player-flag-fallback {
  margin-left: 10px;
  font-size: 16px;
  vertical-align: middle;
}
